body {
font-family: Arial, San-Serif;
font-size: 100%;
background-color: #FC9F5B;
}
ul {
margin: 0;
padding: 0;
}
ul li {
list-style-type: none;
}
a {
text-decoration: none;
}
header {
padding: 50px 0;
background-color: #FBD1A2;
}
h1,h2 {
color: grey;
text-align: center;
}
nav {
background-color: #7DCFB6;
border-color: #33CA7F;
min-height: 64px;
}
nav li {
float: left;
width: 100px;
}
nav a {
display: block;
color: #F4E87C;
line-height: 4em;
font-weight: bold;
text-align: center;
}
nav li a:hover {
color: #33CA7F;
background-color: #ECE4B7;
}
footer{
background-color: #33CA7F;
padding: 20px 0;
margin-top: 30px;
}
.img{
    width: 200px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.img-container li{
    display: inline-block;
    width: 32%;
    padding: 10px;
}
.img-container{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.img-container img{
    width: 80%;
    display: inline-block;
    transition: ,25s;
}
.img-container ul li{
    list-style-type: none;
}
.inline-img img{
    width: 250px;
    display: inline-block ;
    border-radius: 15px;
    text-align: center;
}
.multimedia{
    overflow:auto;
}
.multimedia-video{
    float:left;
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33%;
    box-sizing: border-box
}
